@import url('./iconfont.css');

html,
body {
  background: var(--surfaces);
  color: var(--foreground);
  font-family: 'MatterSQ-Regular', sans-serif;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scroll-behavior: smooth;
}

/* Webkit */
body::-webkit-scrollbar {
  display: none;
}
